*{
    margin:0;
    padding:0;
}

h1{
    color:blueviolet;
    text-align:center
    
}

.maincontainer{
    margin:0 auto;
    width: 800px;
    height:850px;
}
.container1 {
    width: 720px;
    height: 250px;
    background-color:aqua;
    justify-content: space-around;
    /* margin-left: 400px;  */
    display: flex;
}

.container2{
    width: 720px;
    height: 250px;
    background-color: rebeccapurple;  
    justify-content:space-evenly;
    display: flex;
}

.container3{
    width: 720px;
    height: 250px;
    background-color:crimson;
    justify-content: space-between;  
    display: flex;
}
img{
    height:200px;
}

div{
    padding: 15px;
    margin: 20px;
}

p{
    text-align: center; 
}